<div class="item-card">
    <div ng-show="state">
        <div class="item-card-title"><i class="fa" ng-class="icon" aria-hidden="true"></i><% title %></div>
        <dropdown list="list" title="Please choose a program"></dropdown>
        <div class="details">
          <span>Program details:</span>
          <p><%details%></p>
        </div>
    </div>

     <div class="program-card-icons">
            <div ng-show="clicked" class="animate-show">
                <i class="fa" ng-class="{'fa-thumbs-up':success, 'fa-thumbs-down':!success}" aria-hidden="true"></i>
                <span><% feedback %></span>
            </div>
             <div class="program-icons">
                <i class="fa fa-check  fa-lg" aria-hidden="true" ng-click="editProgram()" ng-show="state"></i>
             </div>
           </div>
</div>

