<div class="col-md-12 lightsI-card">
    
    <div ng-show="state">
        <div class="lightsI-card-title"><% title %></div>
        <div class="lightsI-slider">
            <input type="range" name="points" min="0" max="100" ng-model="value">
            <div>
                <span class="lightsI-label"><% rangeText %></span>
                <input type="number" string-to-number name="temp-input" ng-model="value" min="0" max="100">
            </div>
        </div>
    </div>
    
    

    <div class="lightsI-card-icons">
            <div ng-show="clicked" class="animate-show">
                <i class="fa" ng-class="{'fa-thumbs-up':success, 'fa-thumbs-down':!success}" aria-hidden="true"></i>
                <span><% feedback %></span>
            </div>
            <div class="lightsI-icons">
                <i class="fa fa-check  fa-lg" aria-hidden="true" ng-click="editIntensity()" ng-show="state"></i>
            </div>
        </div>
</div>