<div class="col-md-6 rotations-card">
    
    <div ng-show="state">
        <div class="rotations-card-title"><% title %></div>
        <div class="rotations-slider">
            <input type="range" name="points" min="600" max="1600" step='100' ng-model="value">
            <div>
                <span class="rotations-label"><% rangeText %></span>
                <input type="number" string-to-number name="temp-input" ng-model="value" >
            </div>
        </div>
    </div>
    
    <div class="rotations-card-icons">
            <div ng-show="clicked" class="animate-show">
                <i class="fa" ng-class="{'fa-thumbs-up':success, 'fa-thumbs-down':!success}" aria-hidden="true"></i>
                <span><% feedback %></span>
            </div>
            <div class="rotations-icons">
                <i class="fa fa-check  fa-lg" aria-hidden="true" ng-click="editRotations()" ng-show="state"></i>
            </div>
        </div>
</div>