<div class="col-md-6 temperature-card">
    <div ng-show="state">
        <div class="temperature-card-title"><% title %></div>
        <div class="slider">
            <input type="range" name="points" min="20" max="90" ng-model="value">
            <div>
                <span class="temperature-label"><% rangeText %></span>
                <input type="number" string-to-number name="temp-input" ng-model="value" >
            </div>
        </div>
    </div>
   
    <div ng-show="!state" class="off-state">
        <i class="fa fa-frown-o fa-5x " aria-hidden="true"></i>
        <div>Senzor off</div>
    </div>
        
        <div class="temperature-card-icons">
            <div ng-show="clicked" class="animate-show">
                <i class="fa" ng-class="{'fa-thumbs-up':success, 'fa-thumbs-down':!success}" aria-hidden="true"></i>
                <span><% feedback %></span>
            </div>
            <div class="icons">
                <i class="fa fa-power-off fa-lg" ng-class="state" aria-hidden="true"  ng-click="editState()"></i>
                <i class="fa fa-check  fa-lg" aria-hidden="true" ng-click="editTemperature()" ng-show="state"></i>
            </div>
        </div>
</div>