<div class="col-md-4 text-lights">
    <div ng-show="state">
        <div class="text-lights-title"><% title %></div>
        <div class="text-therm-details">
        	<span class="text-therm-info">Strat hour: <% detaliiSI.ora_start %></span>
        	<span class="text-therm-info">Stop hour: <% detaliiSI.ora_stop %></span>
        	<span class="text-therm-info">Number of bulbs: <% detaliiSI.nr_becuri_aprinse %></span>
        	<span class="text-therm-info">Light intensity: <% detaliiSI.intensitate %></span>
        </div>
    </div>
</div>