<div class="col-md-4 text-tv">
    <div ng-show="state">
        <div class="text-tv-title"><% title %></div>
        <div class="text-therm-details">
        	<span class="text-therm-info">Strat hour: <% detaliiTV.ora_start %></span>
        	<span class="text-therm-info">Stop hour: <% detaliiTV.ora_stop %></span>
        	<span class="text-therm-info">Volume: <% detaliiTV.volum %></span>
        	<span class="text-therm-info">Favorite channel: <% detaliiTV.numeCanal %></span>
        	
        </div>
    </div>
</div>