<div class="col-md-4 text-lights">
    <div ng-show="state">
        <div class="text-lights-title"><% title %></div>
        <div class="text-therm-details">
        	<span class="text-therm-info">Strat hour: <% detaliiSI.ora_start %></span>
        	<span class="text-therm-info">Stop hour: <% detaliiSI.ora_stop %></span>
        	<span class="text-therm-info">Number of bulbs: <% detaliiSI.nr_becuri_aprinse %></span>
        	<span class="text-therm-info">Light intensity: <% detaliiSI.intensitate %></span>
        </div>

         <span ng-show="!stateInvatare" style="position:absolute;bottom:50px;">Auto learning is deactivated</span>
            <span ng-show="stateInvatare" style="position:absolute;bottom:50px;">Auto learning is activated</span>
            <div class="coffe-card-icons">
                <div class="coffe-icons">
                    <i class="fa fa-check  fa-lg" aria-hidden="true" ng-click="editInvatareAutomata()" ></i>
          </div>
    </div>
</div>