{% extends "tw:templates/home/layout.jinja2" %}
{% block content %}
<link href="{{ request.static_url('tw:static/css/admin.css') }}" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

<div class="main" ng-controller="admin">
      <h2>Address</h2>
        <form>
           <div class="lable">
                <div class="col_1_of_2 span_1_of_2"><input type="text" ng-model="address" class="text" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}" />
                <span class="text-right animate-show" ng-show="noAddress" style="color:red;">Name is mandatory</span>
                </div></div>

              <div class="submit">
                <span class="text-right animate-show" ng-show="okAddress" style="color:red;">Address added</span>
              <input type="submit" ng-click="addAddress()" value="Change Address" >

           </div>
           <div class="clear"> </div>
        </form>


      <h2>Add a Device</h2>
        <form>
           <div class="lable">
                <div class="col_1_of_2 span_1_of_2"><input type="text" ng-model="deviceName" class="text" value="Device name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Device name';}" />
                <span class="text-right animate-show" ng-show="noName" style="color:red;">Name is mandatory</span>
                </div></div>
           <div class="row" >
            <div class="col-md-6"> 
               <item-card2  title="DeviceType" id='id' state='true' edit='edit()' list="list" item = "deviceType" icon="fa-bars"></item-card>
               
            </div></div><p><span class="text-right animate-show" ng-show="noDevice" style="color:red;">Device is mandatory</span></p>

           <div class="submit">
                <span class="text-right animate-show" ng-show="ok" style="color:red;">Device added</span>
              <input type="submit" ng-click="addDevice()" value="Add Device" >

           </div>
           <div class="clear"> </div>
        </form>


         <h2>Add a Room</h2>
        <form>
           <div class="lable">
                <div class="col_1_of_2 span_1_of_2"><input type="text" class="text" ng-model="roomName" value="Room name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Room name';}" ></div></div>

           <div class="submit">
                <span class="text-right animate-show" ng-show="noRoom" style="color:red;">Room name is mandatory</span>
                <span class="text-right animate-show" ng-show="okRoom" style="color:red;">Room added</span>
              <input type="submit" ng-click="addRoom()" value="Add Room" >
           </div>
           <div class="clear"> </div>
        </form>

         <h2>Add an User</h2>
        <form>
           <div class="lable">
                <div class="col_1_of_2 span_1_of_2"><input type="text" ng-model="userName" class="text" value="user@mailaddress.com" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'user@mailaddress.com';}" ></div></div>
           <div class="submit">
                <span class="text-right animate-show" ng-show="noUsername" style="color:red;">Email is mandatory</span>
                <span class="text-right animate-show" ng-show="okUsername" style="color:red;">User added</span>
                <span class="text-right animate-show" ng-show="noMail" style="color:red;">Invalid email</span>
                <input type="submit"  ng-click="addUser()" value="Add User" />
           </div>
           <div class="clear"> </div>
        </form>


		
		<div class="row">
			<h2>Management users - rooms</h2>
			<admin-table></admin-table>
		</div>


		<div class = "row">
			<h2>Management rooms - devices</h2>
			<admin-table-dispozitive></admin-table-dispozitive>
		</div>

    <div class="row" >
      <div class="col-md-6"> 
         <item-card2  title="Choose User" id='id' state='true' list="listUsers" item = "itemDeleteUser" icon="fa-bars"></item-card> 
      </div>
    </div><p><span class="text-right animate-show" ng-show="noUser" style="color:red;">Please select an user</span></p>
    <div class="submit">
      <span class="text-right animate-show" ng-show="okUser" style="color:red;">Deleted</span>
      <input type="submit"  ng-click="deleteUser()" value="Delete user" />
    </div>

     <div class="row" >
      <div class="col-md-6"> 
         <item-card2  title="Delete Room" id='id' state='true' list="listRooms" item = "itemRoom" icon="fa-bars"></item-card> 
      </div>
    </div><p><span class="text-right animate-show" ng-show="noDeleteRoom" style="color:red;">Please select a room</span></p>
    <div class="submit">
      <span class="text-right animate-show" ng-show="okDeleteRoom" style="color:red;">Deleted</span>
      <input type="submit"  ng-click="deleteRoom()" value="Delete room" />
    </div>

     <div class="row" >
      <div class="col-md-6"> 
         <item-card2  title="DeviceType" id='id' state='true' list="listDispozitive" item = "itemDispozitive" icon="fa-bars"></item-card> 
      </div>
    </div><p><span class="text-right animate-show" ng-show="noDeleteDispozitive" style="color:red;">Please select a device</span></p>
        <div class="submit">
        <span class="text-right animate-show" ng-show="okDeleteDispozitive" style="color:red;">Deleted</span>
      <input type="submit"  ng-click="deleteDispozitive()" value="Delete device" />
    </div>


    <div style="height:300px"></div>
</div>

{% endblock %}
