{% extends "tw:templates/home/layout.jinja2" %}
{% block content %}

<div class="row" ng-controller="pag">
    
    <div class="col-md-8">
     <section>  
        <div class="row" ng-controller="pag">
        
            <div class="col-md-12">
               <temperature value="5" id="buna" state="true" title="Sugar" range-text="Sugar: 0 to 10" min=0 max=10></temperature>
            </div>
    
        </div> 

        <div class="row" ng-controller="pag">
        
            <div class="col-md-12"> 
               <item-card rotations='10' title="Coffee type" id='id' state='true' edit='edit()' list="list" programMenu="TipuriCafea" icon="fa-bars"></item-card>
            </div>
    
        </div> 

     </section>
    </div>
   
    <div class="col-md-4">
        <text-details value="100" id="bu" state="true" title="Coffee maker details"</text-details>
    </div>
</div>
{% endblock %}
