{% extends "tw:templates/home/layout.jinja2" %}
{% block content %}
    <div class="row" ng-controller="pag">
        <div class="col-md-6">
            <temperature value="-10" id="buna" state="true" title="Temperatura" range-text="Temperature range: -40 to 0"></temperature>
        </div>

  
    </div> 
{% endblock %}
