{% extends "tw:templates/home/layout.jinja2" %}
{% block content %}
<link href="{{ request.static_url('tw:static/css/homee.css') }}" rel="stylesheet">

    <div class="row" ng-controller="pag">
  
    </div> 
{% endblock %}
