{% extends "tw:templates/home/layout.jinja2" %}
{% block content %}
    <div class="row" ng-controller="pag">
        <div class="col-md-6">
            <temperature value="-10" id="buna" state="true" title="Temperatura" range-text="Temperature range: -40 to 0"></temperature>
        </div>
        <div class="col-md-1"> 
            <item-card rotations='10' title="Program" id='id' state='true' edit='edit()' list="list" programMenu="ProgramMasinaSpalat" icon="fa-bars" details="buna"></item-card>
        </div>
        </div>
    </div> 
    {# <div class="row" >
        <div class="col-md-2 profile-background">
            dfdfd
        </div>
    </div> #}
{% endblock %}
