<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WOHA</title>
    </head>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
   
    <link href="{{ request.static_url('tw:static/css/home.css') }}" rel="stylesheet">
    <link href="{{ request.static_url('tw:static/css/profile.css') }}" rel="stylesheet">

    <link href="{{ request.static_url('tw:static/css/washing_machine.css') }}" rel="stylesheet">
    <link href="{{ request.static_url('tw:static/css/tv.css') }}" rel="stylesheet">
    <link href="{{ request.static_url('tw:static/css/lights.css') }}" rel="stylesheet">
    <link href="{{ request.static_url('tw:static/css/thermostat.css') }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <body>
        <div ng-app="home" ng-controller="left-menu">
            
            <div class="header" >
                 <span class="header-text" ng-click="goToHome()"><i class="fa fa-home" aria-hidden="true"></i> WOHA </span>
                 <span class="pull-right header-text" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                 <span class="pull-right header-text" ng-click="goToAdmin()" ng-show="isAdmin"><i class="fa fa-cogs" aria-hidden="true" ></i></span>
                 <span class="pull-right header-text" ng-click="goToProfile()"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <div class="left-menu" >
                <div class="menu-avatar">
                    <span><%nume%> <%prenume%></span>
                </div>
                <div>
                    <ul>
                        <div ng-repeat="item in menu_items">
                            <li class="menu-item" ng-click="click($index)" ><i class="fa fa-home" aria-hidden="true"></i><span><%item.value%></span></li>
                            <ul ng-hide="!item.show" class="animate-show">
                                <li class ="submenu-item" ng-repeat="item_submenu in item.submenu track by $index"><span ng-click="clickSubMenu($parent.$index, $index)"><%item_submenu%> <span></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="container-custom">
                {% block content %} {% endblock %}
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{{ request.static_url('tw:static/js/home.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('tw:static/js/services/services.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('tw:static/js/directives/directive.js') }}"></script>

    <script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="{{ request.static_url('tw:static/js/excanvas.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('tw:static/js/jquery.knob.min.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('tw:static/js/jquery.knob.js') }}"></script>

</html>