{% extends "tw:templates/home/layout.jinja2" %}
{% block content %}

<div class="row" ng-controller="pag">

               
    <div class="col-md-7">
     <section class="sec"> 


        <div class="row" ng-controller="pag">
            <div class="col-md-12">
               <nr-bulbs value="0" id="nna" state="true" title="Number of bulbs" range-text="Bulbs range: 0 to 50"></nr-bulbs>
            </div>       
        </div> 
    
        <div class="row" ng-controller="pag">
             <div class="col-md-12"> 
               <light-intensity value="0" id="naia" state="true" title="Light intensity" range-text="Intensity: 0 to 100"></light-intensity>
            </div>
        </div> 
     
     </section>
    </div>
   
    <div class="col-md-5">
        <text-lights-details value="11" id="ruu" state="true" title="Lights details"</text-lights-details>
    </div>
</div>
{% endblock %}
