{% extends "tw:templates/home/layout.jinja2" %}
{% block content %}
<link href="{{ request.static_url('tw:static/css/lights.css') }}" rel="stylesheet">
<div class="row" ng-controller='lights'>

               
    <div class="col-md-7">
     <section class="sec"> 


        <div class="row">
            <div class="col-md-12">
               <nr-bulbs value="<%data.nr_becuri_aprinse%>" edit="changeLights()" id="nna" state="data.stare" title="Number of bulbs" range-text="Bulbs range: 0 to 10"></nr-bulbs>
            </div>       
        </div> 
    
        <div class="row" >
             <div class="col-md-12"> 
               <light-intensity value="<%data.intensitate%>" edit="changeLights()" id="naia" state="data.stare" title="Light intensity" range-text="Intensity: 0 to 100"></light-intensity>
            </div>
        </div> 
     
     </section>
    </div>
   
    <div class="col-md-5">
        <text-lights-details value="11" id="ruu" state="true" title="Lights details"</text-lights-details>
    </div>
</div>
{% endblock %}
