
<style>
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
  height: 100px;
  font-size: 100px;
  color: white;

}

body {
	background : #B71C1C;
}
</style>


<div style="position:relative;">
	<div style="background-color: red;">
		<span class="centered">Not found</span>
	</div>
</div>