{% extends "tw:templates/home/layout.jinja2" %}
{% block content %}
 <link href="{{ request.static_url('tw:static/css/profile.css') }}" rel="stylesheet">
<h2>Profile</h2>
<form>
<table width="650px">
</tr>

<tr class=main>
 <td valign="top">
  <label for="first_name" class="name">First Name </label>
 </td>
 <td valign="top">
  <input  type="text" name="first_name" maxlength="50" size="30" class="write">
 </td>
 <td colspan="2" style="text-align:center">
  <input type="submit" value="Change" class="exchange">
 </td>
</tr>


 
<tr class=main>
 <td valign="top">
  <label for="last_name" class="name">Last Name </label>
 </td>
 <td valign="top">
  <input  type="text" name="last_name" maxlength="50" size="30" class="write">
 </td>
 <td colspan="2" style="text-align:center">
  <input type="submit" value="Change" class="exchange" size="15">
 </td>
</tr>

<tr class=main>
<td valign="top">
  <label for="email" class="name">Email Address </label>
 </td>
 <td valign="top">
  <input  type="text" name="email" maxlength="80" size="30" class="write">
 </td>
  <td colspan="2" style="text-align:center">
  <input type="submit" value="Change" class="exchange">
 </td>
</tr>
<tr class=main>
 <td valign="top">
  <label for="password" class="name">Password</label>
 </td>
 <td valign="top">
  <input  type="password" name="password" maxlength="30" size="30" class="write">
 </td>
 <td colspan="2" style="text-align:center">
  <input type="submit" value="Change" class="exchange">
 </td>
</tr>

</table>
</form>

{% endblock %}
