
<link href="{{ request.static_url('tw:static/css/register.css') }}" rel="stylesheet">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div class="main" ng-app="register" ng-controller="registerC">
      <h2>REGISTER</h2>
        <form name="form">
            <div class="lable">
                <div class="col_1_of_2 span_1_of_2">    
                  <input type="text" name="nume" class="text" value="First Name" ng-model="nume" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
                </div>
                
                <div class="col_1_of_2 span_1_of_2">
                  <input type="text" name="prenume" class="text" ng-model="prenume" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"/>
                </div>
                <div class="clear"> </div>
            </div>

            <div class="lable-2">
                <input type="text" name="email" ng-model="email" class="text" value="your@email.com " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'your@email.com ';}"/>
                <input type="password" ng-model="pass" name="parola" class="text" placeholder="Password " onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = 'Password ';}"/>
                <input type="password" ng-model="repass" class="text" placeholder="Re-type your password " onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = 'Re-type your password ';}">
            </div>
           <div class="submit"> 
              <input type="submit" ng-click="submit()" ng-disabled="disable" value="Create account"/>
              <div style="color:red" ng-show="errorMandatory">Fields are mandatory</div>
              <div style="color:red" ng-show="errorPass">Passwords do not match</div>
              <div style="color:red" ng-show="invEmail">Invalid email</div>
           </div>

           <div class="clear"> </div>
            
      </form>


</div>

    <script type="text/javascript" src="{{ request.static_url('tw:static/js/home.js') }}"></script>