{% extends "tw:templates/home/layout.jinja2" %}
{% block content %}
 <link href="{{ request.static_url('tw:static/css/thermostat.css') }}" rel="stylesheet">
<div class="row" ng-controller="thermostat">

               
    <div class="col-md-7">
     <section class="sec"> 


        <div class="row">
            <div class="col-md-12">
               <temp value="<%data.temperatura%>" id="nnaa" state="stare" edit="changeThermostat()" title="Temperature" range-text="Temperature: 10 to 35"></temp>
            </div>       
        </div> 
    
        <div class="row">
             <div class="col-md-12"> 
               <automat id="caa" state="stare" state-automat="sa" temperature="tempInvatat" title="Automat settings" range-text="The automat settings are dezactivated"></automat>
            </div>
        </div> 
     
     </section>
    </div>
   
    <div class="col-md-5">
        <text-therm-details value="111" id="rruu" state="true" title="Thermostat details"</text-therm-details>
    </div>
</div>
{% endblock %}
