{% extends "tw:templates/home/layout.jinja2" %}
{% block content %}
<link href="{{ request.static_url('tw:static/css/tv.css') }}" rel="stylesheet">
<link href="{{ request.static_url('tw:static/css/washing_machine.css') }}" rel="stylesheet">

<div class="row" ng-controller="tv">

               
    <div class="col-md-8">
     
            <div class="col-md-6">

               <volume value="<%data.volum%>" id="na" state="stare" title="Volume" range-text="Volume: 0 to 100" edit="changeTV()"></volume>
            </div>

            <div class="col-md-6"> 
               <brightness value="<%data.luminozitate%>" id="naa" state="stare" title="Brightness" range-text="Brightness: 0 to 100" edit="changeTV()"></brightness>
            </div>

     
            <div class="col-md-6"> 
               <channel rotations='10' title="TV channel" id='idd' state="stare" edit='changeTV()' list="list" item="channel" channelMenu="ChannelTV" icon="fa-bars"></channel>
            </div>
            
            <div class="col-md-6">
                <clock-tv  id="naaa" state="stare" title="Shutdown time"  hour=" "  minn=" " title-fin="Time over!" range-text="Set time" edit='changeTV()'</clock-tv> 
            </div>
    </div>
   
    <div class="col-md-4">
        <text-tv-details value="100" state-invatare="stateInvatare", info="info" edit='changeTV()' id="ru" state="true" title="TV details"</text-tv-details>
    </div>
</div>
{% endblock %}
