{% extends "tw:templates/home/layout.jinja2" %}
{% block content %}

<div class="row" ng-controller="pag">
    
    <div class="col-md-8">
     <section>  
        <div class="row" ng-controller="pag">
        
            <div class="col-md-6">
               <volume value="0" id="na" state="true" title="Volume" range-text="Volume: 0 to 100"></volume>
            </div>

            <div class="col-md-6"> 
               <brightness value="0" id="naa" state="true" title="Brightness" range-text="Brightness: 0 to 100"></brightness>
            </div>
        </div> 
    
        <div class="row" ng-controller="pag">
            <div class="col-md-6"> 
               <channel rotations='10' title="TV channel" id='idd' state='true' edit='edit()' list="list" channelMenu="ChannelTV" icon="fa-bars"></channel>
            </div>
            
            <div class="col-md-6">
                <clock-tv value="100" id="naaa" state="true" title="Shutdown time"</clock-tv> 
            </div>
        
        </div> 
     </section>
    </div>
   
    <div class="col-md-4">
        <text-tv-details value="100" id="ru" state="true" title="TV details"</text-tv-details>
    </div>
</div>
{% endblock %}
