.header {
    display: block;
    font-size: 18px;
    background-color: #0288D1;
    padding: 12px 24px 12px 24px;
}

.header-text {
    color: white;
    margin-left: 12px;
}
.pull-right.header-text:hover {
    color: #E64A19;
}
.left-menu {
    width: 300px;
    border: 0;
    display: inline-block;
}

.menu-avatar {
    height: 100px;
    position: relative;
    background: url("menu.jpg");
    background-size: 100% 100px;
}

.menu-avatar > span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    padding-right: 18px; 
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0px;
    margin: 0px;
 }


 .submenu-item {
    padding: 8px 0px 8px 80px;
    color: black;
    font-size: 18px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
 }

 .submenu-item > span {
    margin-left: 24px;
    font-size: 14px !important;
}

 .submenu-item:hover {
    background-color: #FF6E40;
    background-size: 100% 100%;
    cursor: pointer;
 }
.menu-item {
    padding: 10px 12px 10px 34px;
    color: black;
    font-size: 18px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

.menu-item:hover {
    background-color: #FF6E40;
    background-size: 100% 100%;
    cursor: pointer;
}
.menu-item > span {
    margin-left: 24px;
    font-size: 16px !important;
}

.container-custom {

    width: 100%;
    display:inline; 
    position:absolute;
    margin: 12px !important;
}



.profile-background {
    margin: 0px 24px 6px 16px;
    min-height: 400px;
    min-width: 400px;
    border-left: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    padding: 24px;
}
.header {
    display: block;
    font-size: 18px;
    background-color: #0288D1;
    padding: 12px 24px 12px 24px;
}

.header-text {
    color: white;
    margin-left: 12px;
}
.pull-right.header-text:hover {
    color: #E64A19;
}
.left-menu {
    width: 300px;
    border: 0;
    display: inline-block;
}

.menu-avatar {
    height: 100px;
    position: relative;
    background: url("menu.jpg");
    background-size: 100% 100px;
}

.menu-avatar > span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    padding-right: 18px; 
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0px;
    margin: 0px;
 }


 .submenu-item {
    padding: 8px 0px 8px 80px;
    color: black;
    font-size: 18px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
 }

 .submenu-item > span {
    margin-left: 24px;
    font-size: 14px !important;
}

 .submenu-item:hover {
    background-color: #FF6E40;
    background-size: 100% 100%;
    cursor: pointer;
 }
.menu-item {
    padding: 10px 12px 10px 34px;
    color: black;
    font-size: 18px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

.menu-item:hover {
    background-color: #FF6E40;
    background-size: 100% 100%;
    cursor: pointer;
}
.menu-item > span {
    margin-left: 24px;
    font-size: 16px !important;
}

.container-custom {

    width: 100%;
    display:inline; 
    position:absolute;
    margin: 12px !important;
}



.profile-background {
    margin: 0px 24px 6px 16px;
    min-height: 400px;
    min-width: 400px;
    border-left: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    padding: 24px;
}

