tr.main > td 
{
  padding-bottom: 25px;
}
.label{
  width: 150px;
}
.write{
  font-size: 18px;
  width: 250px;
}
.exchange{
  font-size: 18px;
  width: 100px;
}
.name{
  font-size: 18px;
}
input {
  width: 250px;
  font-size: 18px;
  display: block;
  border: 1px solid #999;
  height: 35px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

button {
  position: absolute;
  width: 15px;
  height: 20px;
  background: #09C;
  color: black;
  font-family: Tahoma;
  border-radius: 15px;
  border: 1p solid #999;
}

input.button:hover {
  background: #fff;
  color: #09C;
}