
.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
}


.temperature-card {
    background-color: #5E35B1;
    min-height: 300px;
    min-width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
}

.temperature-card-title {
    font-size: 20px;
    padding: 24px;
    padding-left: 10%;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: white;
    width: 80%;
    height:1px;
}
input[type=range]:focus {
  outline: none; 
}

input[type=range]:hover {
    height: 3px;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 20px;
}

.temperature-card-icons {
    color: white;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.temperature-card-icons .icons {
    border-top:1px solid white;
    padding-left: 60px !important;
    padding-top: 6px;
}

.temperature-card-icons .fa-check {
    padding-left: 12px !important;
}

.off-state {
    position: absolute;
    top: 35%;
    left: 40%;
}

.temperature-card-icons .fa-check:hover,  .temperature-card-icons .fa-power-off:hover{
    color: #E53935;
    cursor: pointer;
}

.slider > input[type="range"] {
    box-shadow: none;
    display: block;
    margin: auto;
}


.slider div {
    box-shadow: none;
    position: absolute;
    width: 50%;
    margin-top: 30px;
    margin-left: 20%;

}
.slider .temperature-label {
    
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 12px 0px 6px 12px;
    display: block;
    background: rgba(26,35,126, 0.5);
}

.slider  input[type="number"]{
    box-shadow: none;
    font-size: 50px;
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
    border: none;
    background: rgba(26,35,126, 0.5);   
}
.slider  input[type="number"]:focus {
    outline: none;
}

/*--------------------------------------------------------------*/

.item-card {
    background-color: #3399FF;
    min-height: 300px;
    min-width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;s
    margin: auto;
    text-align: left;
}

.item-card-title {
    font-size: 20px;
    padding: 24px;
    padding-left: 10%;
}

.item-card-title i {
    margin-right: 6px;
}

.details {
    position: absolute;
    top:40%;
    font-size: 16px;
    padding: 24px;
    padding-left: 10%;
    display: block;
    height: 60% !important;
    width: 100%;
    background-color: #33CCFF;
}

 .program-card-icons {
    color: white;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.program-card-icons .program-icons {
    border-top:1px solid white;
    padding-left: 60px !important;
    padding-top: 6px;
}

.program-card-icons .fa-check {
    padding-left: 12px !important;
}

.program-card-icons .fa-check:hover{
    color: #E53935;
    cursor: pointer;
}


.dropdown {
    position: absolute;
    left: 10%;
    width: 80%;
    border-bottom: 2px solid white !important;
}

.dropdown .btn-default {
    white-space: normal;
    width: 100%;
    color: #333399  !important;
    border:0 !important;
    border-radius: 0 !important;
    background: transparent !important;
    outline: none !important;
}

.dropdown-menu {
    color:black;
    width: 100% !important;
}


.dropdown-item {
    min-width: 250px;
    color: black;
    padding: 6px 12px 6px 12px;
}

.dropdown-item:hover {
    white-space: normal;
    cursor: pointer;
    background: #EEEEEE;
    width: 100%;
}


/*-------------------------------------------------------------------*/

.rotations-card{
    background-color: #4DB6AC;
    min-height: 300px;
    min-width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: auto;
}

.rotations-card-title {
    font-size: 20px;
    padding: 24px;
    padding-left: 10%;
}

.rotations-card-icons {
    color: white;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.rotations-card-icons .rotations-icons {
    border-top:1px solid white;
    padding-left: 60px !important;
    padding-top: 6px;
}

.rotations-card-icons .fa-check {
    padding-left: 12px !important;
}

.rotations-card-icons .fa-check:hover{
    color: #E53935;
    cursor: pointer;
}
.rotations-slider > input[type="range"] {
    box-shadow: none;
    display: block;
    margin: auto;
}


.rotations-slider div {
    box-shadow: none;
    position: absolute;
    width: 50%;
    margin-top: 30px;
    margin-left: 20%;
}
.rotations-slider .rotations-label {
    
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 12px 0px 6px 12px;
    display: block;
    background: rgba(26,35,126, 0.5);
}

.rotations-slider  input[type="number"]{
    box-shadow: none;
    font-size: 50px;
    display: block;
    width: 100%;
    height: 94px;
    text-align: center;
    border: none;
    background: rgba(26,35,126, 0.5);   
}
.rotations-slider  input[type="number"]:focus {
    outline: none;
}
/*-------------------------------------------------------------------*/

.clock-card {
    background-color: #9933FF;
    min-height: 300px;
    min-width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: auto;
    text-align: left;
}

.clock-card-title {
    font-size: 20px;
    padding: 24px;
    padding-left: 10%;
}

.clock-card-icons {
    color: white;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.clock-card-icons .clock-icons {
    border-top:1px solid white;
    padding-left: 60px !important;
    padding-top: 6px;
}

.clock-card-icons .fa-check {
    padding-left: 12px !important;
}

.clock-card-icons .fa-check:hover{
    color: #E53935;
    cursor: pointer;
}


/*---ceas---*/
div.box span.clock-labeel {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 0px 0px 10px 0px;
    display: block;
    
}
div.box{
    width:200px;
    height: 150px;
    box-shadow: none;
    position: relative;
    display: block;
    padding-left: 10%;
    
}

div.box  input[type="hour"], div.box input[type="minutes"]{
    box-shadow: none;
    font-size: 20px;
    display: inline;
    width: 30%;
    height: 40px;
    text-align: center;
    top: 30px;
    border: none;
    background: rgba(211,197,200,0.5);   
}
div.box  input[type="hour"]:focus,div.box input[type="minutes"]:focus{
    outline: none;
}

div.box2 {
    position: absolute;
    top: 35%;
    left: 14%;
    height: 100px;
    width: 250px;
}

div.box2  input[type="hour"], div.box2 input[type="minutes"]{
    box-shadow: none;
    font-size: 30px;
    display: inline;
    width: 40%;
    height: 90px;
    text-align: center;
    top: 30px;
    border: none;
    background: rgba(211,197,200,0.5);   
}
div.box2  input[type="hour"]:focus, div.box2 input[type="minutes"]:focus{
    outline: none;
}

.titlee {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    height: 50px;
    display: block;
    
}
/*---------------------------------------------------------*/

.text-card {
    background-color: #66CCFF;
    min-height: 610px;
    min-width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: auto;
    text-align: left;
    top:5px;
}

.text-card-title {
    font-size: 20px;
    padding: 24px;
    padding-left: 10%;
}

section {
    width:650px;
    float:left;
}

section .row{
    width: 700px;
    padding: 5px;
}

.row{
    width: 1050px;
}






